<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ConfirmLogin</servlet-name>
  	<display-name>ConfirmLogin</display-name>
  	<description>Confirming Login</description>
  	<servlet-class>com.harsh.airline_reservation_system_web.ui.ConfirmLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePassword</servlet-name>
  	<display-name>ChangePassword</display-name>
  	<description>Servlet to change the password</description>
  	<servlet-class>com.harsh.airline_reservation_system_web.ui.ChangePassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description>Logout user</description>
  	<servlet-class>com.harsh.airline_reservation_system_web.ui.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Signup</servlet-name>
  	<display-name>Signup</display-name>
  	<description></description>
  	<servlet-class>com.harsh.airline_reservation_system_web.ui.Signup</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewTrips</servlet-name>
  	<display-name>NewTrips</display-name>
  	<description>User adds trips through this</description>
  	<servlet-class>com.harsh.airline_reservation_system_web.ui.NewTrips</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewTrips</servlet-name>
  	<display-name>ViewTrips</display-name>
  	<description></description>
  	<servlet-class>com.harsh.airline_reservation_system_web.ui.ViewTrips</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ConfirmLogin</servlet-name>
  	<url-pattern>/confirm-login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePassword</servlet-name>
  	<url-pattern>/change-password</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Signup</servlet-name>
  	<url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewTrips</servlet-name>
  	<url-pattern>/new-trips</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewTrips</servlet-name>
  	<url-pattern>/view-trips</url-pattern>
  </servlet-mapping>
</web-app>
